:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 960px;
    --main-width: 720px;
    --post-width: 720px;
    --header-height: 60px;
    --footer-height: 80px;
    --radius: 8px;
    --monospace: "Lucida Console", Monaco, "Consolas", monospace;

    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --primary-dim: rgb(60, 60, 60);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(158, 158, 158);
    --tertiary-bg: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --link-background-color: #e8e3f7;
    --link-color: var(--primary);
    --link-hover-color: #EFD358;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #F2DC79;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --link-transition: all 0.3s ease;
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");

    /* for type pages theming */
    --signature: var(--primary);
    --signature-bg: var(--secondary);
}
@media screen and (max-width: 500px) {
    :root {
        --header-height: 52px;
    }

}

.dark {
    --theme: rgb(16, 14, 5);
    --entry: rgb(28, 26, 18);
    --primary: rgb(231, 231, 230);
    --primary-dim: rgb(207, 207, 205);
    --secondary: rgb(183, 183, 180);
    --tertiary: rgb(136, 135, 131);
    --tertiary-bg: rgb(64, 62, 56);
    --content: rgb(183, 183, 180);
    --code-bg: rgb(26, 25, 22);
    --border: rgb(40, 38, 31);
    --link-background-color: #5242746d;
    --link-color: var(--primary);
    --link-hover-color: #EFD358;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-hover-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.list-page {
    background: var(--code-bg);
}

.dark.list-page {
    background: var(--theme);
}
